@font-face {
  font-family: 'Courier_Prime';
  src: url('../fonts/Courier_Prime.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('../fonts/Courier_Prime.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

h1,h2,h3,h4,h5,h6, .planTable .plan{
	color: #69c4a7;
	font-family: 'Courier_Prime', 'Helvetica Neue', Helvetica, sans-serif;
}
.smallLabel{
	font-size: 65%;
	position: relative;
	padding-right: 5px;
	padding-left: 55px;
}
.greenBtn{
	color: #fff;
	font-family: 'Courier_Prime', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #69c4a7;
}
.nav>li>a{
	color:#000;
	font-family: 'Courier_Prime', 'Helvetica Neue', Helvetica, sans-serif;
}
.cord{ 
	width: 150px;
	height: 150px;
	margin-bottom: 30px;
}
.cordTxt{ font-size: 18px; }
.laptop{
	width:200px;
	height: 150px;
	margin-bottom: 30px;
}
#hostedCheckoutForm>div{
	height: 30px;
	border: 1px solid grey;
}
#planTable.table.table-hover>tbody>tr>td.planClick, #active.table.table-hover>tbody>tr>td.subscrClick,
#subscriptionTable>tbody>tr>td.subscrClick{ color: #69c4a7; }
/* on createSubscription page*/
.planTable>caption{
	color: #69c4a7;
	font-size: 20pt;
	font-family: 'Courier_Prime', 'Helvetica Neue', Helvetica, sans-serif;
}
.planTable .plan{cursor: pointer;}
.planBoxes, a.greenLink{ color: #69c4a7; }
.page404 .container h1{ color:red; }
.page404 .container .mainImg{ margin: 0 auto;  }
.page404 .container p{ font-size: 16px; }
.page404 .container .randomFact{
	font-weight: bold;
	font-size: 18pt;
}
.form-control.braintree-hosted-fields-invalid{
	border: 1px solid red;
}
.glyphicon{ color: #69c4a7; }





